.aside-content {
  margin-top: 120px;
  padding: 0;

  & > .title {
    font-size: 20px;
  }
}

.related__list {
  list-style-position: outside;
  list-style-type: none;
  margin: 40px 0 0;
  padding: 0;

  .related__item {
    display: flex;

    .item__thumbnail {
      border: 1px solid #efefef;
      flex: 0 0 auto;
      font-size: 16px;
      height: 104px;
      line-height: 6.5;
      overflow: hidden;
      text-align: center;
      width: 104px;

      .thumbnail__image {
        height: 102px;
        width: auto;
      }

      .link {
        color: rgba(0, 0, 0, 0);
        display: block;
        height: 100%;
        width: 100%;

        &:hover {
          text-decoration: none;
        }

        &.noimage {
          color: #9f9f9f;
        }
      }
    }

    .item__content {
      flex: 1 1 auto;
      padding-left: 32px;

      .title {
        font-size: 18px;

        .link {
          color: #444444;
          text-decoration: none;
        }
      }

      .date {
        font-size: 16px;
      }
    }

    &:not(:first-child) {
      margin-top: 24px;
    }
  }
}
