.aside-content {
  background-color: #f3f3f3;
  margin-top: 40px;
  padding: 24px;
}

.related__list {
  list-style-position: outside;
  list-style-type: none;
  margin: 40px 0 0;
  padding: 0;

  .related__item {
    display: flex;

    .item__thumbnail {
      height: 120px;
      width: 120px;

      .thumbnail__image {
        height: 118px;
        width: auto;
      }

      .link {
        color: rgba(0, 0, 0, 0);
        display: block;
        height: 100%;
        width: 100%;

        &:hover {
          text-decoration: none;
        }

        &.noimage {
          color: #9f9f9f;
        }
      }
    }

    .item__content {
      padding-left: 32px;

      .title {
        font-size: 20px;

        .link {
          color: #444444;
          text-decoration: none;
        }
      }

      .date {
        font-size: 16px;
      }
    }

    &:not(:first-child) {
      margin-top: 24px;
    }
  }
}
