.list {
  margin: 0;
  padding: 0;
  position: relative;
}

.list__item {
  border-bottom: 1px solid #e8e8e8;
  list-style-position: outside;
  list-style-type: none;
  padding: 16px;
  position: relative;

  &:first-child {
    border-top: 1px solid #e8e8e8;
  }

  .link {
    color: #000000;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .date {
    color: #4d4d4d;
    font-size: 14px;
    line-height: 1.5;
  }

  .title {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
  }

  .item__thumbnail {
    overflow: hidden;

    .thumbnail__image {
      height: 102px;
      width: auto;
    }

    .link {
      color: rgba(0, 0, 0, 0);
      display: block;
      height: 100%;
      width: 100%;

      &:hover {
        text-decoration: none;
      }

      &.noimage {
        color: #9f9f9f;
      }
    }
  }
}

.list-posts {
  display: flex;

  .item__thumbnail {
    border: 1px solid #efefef;
    flex: 0 0 auto;
    font-size: 12px;
    height: 104px;
    line-height: 6.5;
    margin-right: 16px;
    text-align: center;
    width: 104px;
  }

  .item__content {
    flex: 1 1 auto;
  }
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 24px 0 0;

  .page-item {
    flex: 0 0 auto;
    font-size: 18px;
    line-height: 1.5;
    min-width: 22px;
    position: relative;
    text-align: center;

    .page-link {
      color: #4d4d4d;
      text-decoration: none;
    }

    &.active {
      .page-link {
        color: #aaaaaa;
      }
    }
  }

  .page-next,
  .page-first {
    margin-right: 8px;
  }

  .page-prev,
  .page-last {
    margin-left: 8px;
  }
}
