<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta charset="utf-8">
<meta name="author" content="hf-mush">
<meta name="description" content="学びを配信するブログ">
<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
<style>*{box-sizing:border-box;}html,body{font-family:hiragino kaku gothic pron,meiryo,sans-serif,system-ui;height:100%;margin:0;width:100%;}h1,h2{margin:0;}.header{height:auto;margin:0 auto;max-width:992px;padding:40px 24px;width:100%;}.header .title{font-size:24px;font-weight:normal;line-height:1.5;margin:0 auto;}.header .link{color:#000000;text-decoration:none;}.container{margin:0 auto;max-width:992px;padding:24px;width:100%;}.footer{margin:0 auto;max-width:996px;padding:24px;}.footer .cr{font-size:14px;text-align:right;}</style>
{{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body>
<header class="header">
<h1 class="title"><a class="link" href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
</header>
<main class="container">
{{ block "main" . }}
{{ end }}
</main>
{{ block "footer" . }}
{{ end }}
<footer class="footer">
  <p class="cr">&copy;2019 hiroshifujita.com</p>
</footer>
</body>
</html>