{{ define "main" }}
<article class="article">
  <ul class="list archives">
    {{ range .Paginator.Pages }}
    <li class="list__item list-posts">
      <div class="item__thumbnail"><a class="link" href="{{.Permalink}}">No Image</a></div>
      <div class="item__content">
        <h2 class="title"><a class="link" href="{{.Permalink}}">{{.Title}}</a></h2>
        <div class="date">{{.Date.Format "2006-01-02"}}</div>
      </div>
    </li>
    {{ end }}
  </ul>
  {{ template "_internal/pagination.html" . }}
</article>
{{ end }}