{{ define "main" }}
<div class="article">
  {{ $posts := (where .Site.Pages "Params.series" "==" "blog") }}
  {{ $postCount := len $posts }}
  {{ if gt $postCount 0 }}
  <ul class="list archives">
    {{ $pager := .Paginate (where .Site.Pages "Params.series" "blog") 10 }}
    {{ range $pager.Pages }}
    <li class="list__item list-posts">
      {{ if eq .Params.thumbnail nil }}
      <div class="item__thumbnail"><a class="link noimage" href="{{.Permalink}}">No Image</a></div>
      {{ else }}
      <div class="item__thumbnail" style="background-image:url('{{.Params.thumbnail}}');"><a class="link"
          href="{{.Permalink}}">{{ .Title }}</a></div>
      {{ end }}
      <div class="item__content">
        <h2 class="title"><a class="link" href="{{.Permalink}}">{{.Title}}</a></h2>
        <div class="date">{{.Date.Format "2006-01-02"}}</div>
      </div>
    </li>
    {{ end }}
  </ul>
  {{ template "_internal/pagination.html" . }}
  {{ else }}
  <div>Comming Soon...</div>
  {{ end }}
</div>
{{ end }}