{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<article class="article">
  <header class="article__header">
    <h1 class="title">{{ .Title }}</h1>
    <div class="date">{{ .PublishDate.Format "2006/01/02 15:04:05" }}</div>
  </header>
  <div class="content">{{ .Content }}</div>
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ if (len $related) gt 0 }}
    {{ with $related }}
  <aside class="aside-content">
    <h2>関連記事一覧</h2>
    <ul class="related__list">
    {{ range . }}
    <li class="related__item">
      {{ if eq .Params.thumbnail nil }}
      <div class="item__thumbnail"><a class="link noimage" href="{{.Permalink}}">No Image</a></div>
      {{ else }}
      {{ if eq .Params.webp nil }}
      <div class="item__thumbnail"><a class="link" href="{{.Permalink}}">
          <picture>
            <source srcset="{{.Params.thumbnail}}" type="image/jpeg">
            <img class="thumbnail__image" src="{{.Params.thumbnail}}" alt="{{.Title}}">
          </picture>
        </a></div>
      {{ else }}
      <div class="item__thumbnail"><a class="link" href="{{.Permalink}}">
          <picture>
            <source srcset="{{.Params.webp}}" type="image/webp">
            <source srcset="{{.Params.thumbnail}}" type="image/jpeg">
            <img class="thumbnail__image" src="{{.Params.thumbnail}}" alt="{{.Title}}">
          </picture>
        </a></div>
      {{ end }}
      {{ end }}
      <div class="item__content">
        <h2 class="title"><a class="link" href="{{.Permalink}}">{{.Title}}</a></h2>
        <div class="date">{{.Date.Format "2006-01-02"}}</div>
      </div>
    </li>
    {{ end }}
    </ul>
  </aside>
    {{ end }}
    {{ end }}
</article>
{{ end }}